/* set columns for responsive */
.row::after {
  clear: both;
  content: "";
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 0 20px 15px;
}
/* -- */

body{
  color: #333;
  font-family: "Calibri", Arial, Helvetica, sans-serif;
}

a{color: #428bca; outline: none;}

.bold{font-weight: bold;}

p{padding-bottom: 14px;}

h1, h2, h3{letter-spacing: 1px;}

h1{font-size: 36px; font-weight: bold;}

h2{font-size: 28px; font-weight: bold;}

h2.panel-title{margin-bottom: 20px;}

h2.approved{ color: #519305; padding-top: 35px;text-align: center;}

h3{ color: #519305;font-size: 24px; font-weight: bold;}

h4{font-size: 20px; font-weight: bold;}

.container{ box-sizing: border-box;margin: auto;}

.container .container-wide{margin: auto; width: 100%;}

.navbar{height: 60px; margin: auto;}

.main-logo{
  background-image: url(../img/logo-small.png);
  background-repeat: no-repeat;
  height: 60px;
  margin-left: 15px;
}

.col-7.col-s-6.main-logo{width: 50%; padding: 0;}

/* topnav */
.topnav {
  background-color: #fff;
  overflow: hidden;
  float: right;
}
.topnav a {
  border: 1px solid #333;
  color: #333;
  display: none;
  float: left;
  font-size: 17px;
  font-weight: bold;
  line-height: 25px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  color: #777;
  text-decoration: none;
}

.topnav a.icon {
  border: 0;
  display: block;
  float: right;
}
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  display: block;
  float: none;
  text-align: left;
}
.col-5.col-s-1.topnav{padding: 0;}
/* --topnav end-- */

.col-12.col-s-12.slideshow{padding-left: 0; padding-right: 0;}

.page-title .subtitle{
  font-size: 18px;
  font-style: italic;
  padding-bottom: 60px;
}

.container.page-title{margin-top: 20px;}

.margin-top-20px{margin: 20px 0;}

blockquote.big{margin: auto; width: 90%;}

blockquote p{
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}

blockquote p:first-child {
  color: #519305;
  font-family: "Times New Roman", serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: 500;
  line-height: 3.6rem;
  margin-bottom: 0;
  padding: 1.8rem 3.6rem 1.8rem 5rem;
}

.float-right{float: right;}

.alert-info{
  background-color: #519305;
  border: 1px solid transparent;
  border-color: #BCE8F1;
  border-radius: 4px;
  color: #FFFFFF;
  float: right;
  font-size: 22px;
  margin-bottom: 20px;
  margin-left: 5%;
  padding: 15px;
}

.serving-label{
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 6px;
  padding-top: 20px;
}

.meter{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #f5f5f5;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 30px;
  position: relative;
}

.meter > span{
  background-color: #f68413;
  border-radius: 5px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  display: block;
  height: 100%;
}

.meter.-back-color-gray > span{background-color: #A6A6A6;}

.videoWrapper{
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	position: relative;
}
.imageWrapper {
	/* margin-bottom: 10px; */
	height: 240px;
	position: relative;
}
.imageWrapper img {
	height: auto;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.videoWrapper iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

footer .social-link a{ font-size: 20px;padding: 0 10px;}

footer .social-link a:hover{font-size: 24px;}

.widget-title{margin-bottom: 5px;}

.widget-footer ul li{list-style: disc; margin-left: 20px;}

.social-widget a{color: #555; letter-spacing: 18px;}

.bottom-menu nav{float: right; padding-right: 20px;}

.bottom-menu nav ul li{
  display: inline-block;
  float: left;
  margin-left: 15px;
}

a:hover{color: #275d8b; text-decoration: underline;}

/* For responsive */
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 800px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  .topnav{padding: 0;}

  /* topnav wide */
  .topnav a {
    border: 0;
    display: block;
    line-height: 25px;
  }
  .topnav a.icon {
    display: none;
  }
  /* --topnav end-- */
}
@media only screen and (min-width: 1000px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .container{width: 90%;}

  .navbar{height: 100px;}
  /* .col-7.col-s-6.main-logo{width: 60%;} */
  .main-logo{background-image: url(../img/logo.png); height: 100px; margin-left: 10px;}
  .topnav a {font-size: 20px; line-height: 65px;}
}
@media only screen and (min-width: 1600px) {
  /* For large desktop: */
  .container{ max-width: 1600px;width:80%;}
  }
